# Datos privados
# este es el contacto que buscara el bot en whatsapp 
# para poder enviar el mensaje (se puede cambiar)
CONTACTO=Diego

# mensaje que le llegara al contacto que busca el bot
# (se puede cambiar)
MENSAJE=Prueba de mensaje
